.table-container {
    padding: 20px; 
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px; 
    text-align: left;
  }

  .action-btn{
    padding:5px 10px;
    cursor: pointer;
  }

  .no-data{
    margin-top: 15px;
    text-align: center;
  }
